.view-users-container {
    margin: 0 auto;
    position: relative;
    padding: 0 10px;

    .user-details {
        width: 600px;
        margin: 20px auto;

        &:hover {
            cursor: pointer;
        }

        img {
            height: 125px;
            border-radius: 5px;
            margin-right: 5px;
        }
    }

    .user-details-right {
        width: 400px;
        display: inline-block;
        position: absolute;
    
        .view_users {
    
            &:hover {
                color: #d67f1a;
                cursor: pointer;
            }
        }
    }
}